<div class="alert alert-danger" role="alert">
    <script type="text/javascript">
        setTimeout( function() { window.location.href = "/"; }, 2000 );
    </script>
  formulario incompleto  
</div>