<div class="container d-flex justify-content-center aling-items-center">
    <div class="col-md-3 p-4">
            <div class="card">
                <div class="card-header d-flex justify-content-center aling-items-center">
                    <h3 class="d-flex justify-content-center aling-items-center">{{taskDetail.title}}</h3>
                </div>
                <div class="card-body">
                    <p>{{taskDetail.description}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between aling-items-center">
                    <a href="/tasks/delete/{{taskDetail._id}}" class="btn btn-danger">
                        Delete
                    </a>
                    <a href="/tasks/edit/{{taskDetail._id}}" class="btn btn-secondary">
                        Edit
                    </a>
                </div>
            </div>
        </div>
</div>