<div class="alert alert-primary" role="alert">
    <script type="text/javascript">
        setTimeout( function() { window.location.href = "/tasks/create"; }, 2000 );
    </script>
  you have no tasks, you will be redirected to create a task
</div>