<div class="jumbotron">
    <h1 class="display-4"> Task App </h1>
    <p class="lead"> Task-App is a web application where you can create, list and edit each of your daily tasks.</p>
    <p>Look at the list of your tasks and schedule your day!</p>
    <a href="/tasks/list" class="btn btn-primary btn-lg">
        Task List
    </a>
</div>