<div class="jumbotron">
    <h1 class="display-4"> Typescript App </h1>
    <p class="lead"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque qui sunt nihil, quibusdam rem minima!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, maiores?</p>
    <a href="/tasks/list" class="btn btn-primary btn-lg">
        Task List
    </a>
</div>